@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
    --fonte:'Montserrat', sans-serif;
    --cor-fundo:#577D86;
    --cor-primaria:#B9EDDD;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:0;
    font-family: var(--fonte);
}

.titulo{
    font-size: 4em;;
}

h3{
    font-size: 2.5em;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 10px;
}

.box{
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 3.5em;
    padding: 8px;
}

.btn-jogar{
    margin-top: 1em;
    border-radius: 5px;
    padding: 0.6em;
    border:2px solid var(--cor-primaria) ;
    color: var(--cor-primaria);
    background-color: transparent;
    cursor: pointer;
}